body{
    min-height: 2500px;
    font-family: Poppins;
}



.backround-web img{
    width: 1680px;
    z-index: 1;
    
}

.atas{
    text-align: center;
    margin-top: -900px;
    z-index: 2;
    padding-top: 18rem;
    padding-bottom: 16rem;
    color: #0D64DA;
    
}

/* background-repeat: no-repeat;
    background-size: 100%;
    
    padding-top: 18rem;
    padding-bottom: 19rem;
    z-index: 1; */